# Python/Django specific
*.pyc
*.pyo
__pycache__/
*.egg-info/
dist/
build/
media/

# Static files (if using collectstatic)
staticfiles/

# Django development server
*.log

# Database files (if using SQLite)
*.sqlite3

# IDE/Editor specific
.idea/
.vscode/
*.swp
# PostgreSQL
*.sql
*.dump
*.db
*.bak
*.pgdump
# Environment
.env
.env.*
*.env
*.env.*
config.py